<script type="text/template" id="template_aboutme">
    <div class="aboutme container container__small">
        <ul>
            <li class="aboutme__item">
                As you can guess by my picture, I'm passionate about music as I am by web development. I play in a band called
                <a target="_blank" href="https://facebook.com/handsofdespair"><strong>Hands of despair</strong></a>, which is a progressive black metal band.
            </li>
            <li class="aboutme__item">
                Before doing my degree in computer engineering, I did a degree in <strong>music composition</strong> and a degree in <strong>audio recording</strong> at the Cegep de Drummondville.
            </li>
            <li class="aboutme__item">
                I was born and raised in <strong>Quebec city</strong>. I left at 17 years old to study music in <strong>Drummondville</strong>, and left <strong>Drummondville</strong> for <strong>Montreal</strong> when I was 21.
            </li>
            <li class="aboutme__item">
                I still live in Montreal and don't plan on moving any time soon.
            </li>
            <li class="aboutme__item">
                I'm a <strong>cat</strong> lover. I have one fat hairy cat named <strong>Monsieur Pacotilles</strong>.
            </li>
            <li class="aboutme__item">
                I have a serious <strong>poutine</strong> addiction.
            </li>
            <li class="aboutme__item">
                I really enjoy <strong>videogames</strong> but don't play as much as when I was young. My favorite games will always be (mostly) all the <strong>Metal Gear</strong> and the <strong>Silent Hill</strong>. But these days, I'm playing <strong>Witcher 3</strong>.
            </li>
            <li class="aboutme__item">
                I LOVE movies. Especially <strong>horror</strong> and <strong>weird movies</strong>. Couple of recent favorite ones : Demolition, The Lobster, Green Room.
            </li>
        </ul>
    </div>
</script>