<script type="text/template" id="template_articles">
    <div class="articles container">
    	<div class="row">
		    <div class="col-xs-12 col-sm-6">
				<ul class="list-of-selectors js-list-of-selectors"></ul>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="list-of-articles js-list-of-articles"></ul>
			</div>
		</div>
    </div>       
</script>

<script type="text/template" id="template_article_selector">
	<div class="span pull-left"><%= title %></div>
	<div class="span pull-right"><%= date %></div>
</script>



