<div class="container text-center">
	<hr>
	<span data-string="footer-name"></span>
	<span class="spacer-vertical-bar hidden-xs">|</span>
	<span class="hidden-xs" data-string="footer-follow-me"></span>
	<ul class="social-media-links">
		<li class="social-media-links__li"><a href="https://www.facebook.com/maxime.cote57" target="_blank" data-string="social-media-link1"></a></li>
		<li class="social-media-links__li social-media-links__li--last"><a href="https://www.linkedin.com/in/maxime-c%C3%B4t%C3%A9-17968227" target="_blank" data-string="social-media-link2"></a></li>
		<li class="social-media-links__li social-media-links__li--last"><a href="https://github.com/maximecote57" target="_blank" data-string="social-media-link3"></a></li>	
	</ul>
</div>