<!--[if lt IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top js-navbar" role="navigation">
  <div class="navbar__container container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" data-string="navbar-header"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li data-view="home"><a href="#home" data-string="navbar-link1"></a></li>
        <li data-view="articles"><a href="#articles" data-string="navbar-link2"></a></li>
        <li data-view="aboutme"><a href="#aboutme" data-string="navbar-link3"></a></li>
        <li data-view="contact"><a href="#contact" data-string="navbar-link4"></a></li>
      </ul>
    </div>
  </div>
</nav>