<script type="text/template" id="template_home">
    <div class="home container">
        <div class="home__jumbotron img-text jumbotron">
            <div class="img-text__img">
                <img class="img-responsive img-circle" src="img/moi.jpg" alt="">
            </div>
            <div class="img-text__text">
                <h4 class="pre-title" data-string="home-pretitle"></h4>
                <h1 class="home__title title" data-string="home-name"></h1>
                <h3 data-string="home-subtitle1"></h3>
                <h3 data-string="home-subtitle2"></h3>
            </div>
        </div>            
    </div>       
</script>
